[submodule "libs/Vanaheimr.V2G.Exi"]
	path = libs/Vanaheimr.V2G.Exi
	url = ssh://git@git.graphdefined.com:5001/OpenChargingCloud/Vanaheimr.V2G.Exi.git
[submodule "libs/DynamicQRCodes"]
	path = libs/DynamicQRCodes
	url = ssh://git@git.graphdefined.com:5001/OpenChargingCloud/DynamicQRCodes.git
