[submodule "libs/DynamicQRCodes"]
	path = libs/DynamicQRCodes
	url = ../DynamicQRCodes.git
[submodule "libs/WWCP_ISO15118"]
	path = libs/WWCP_ISO15118
	url = ../WWCP_ISO15118.git
[submodule "libs/Hermod"]
	path = libs/Hermod
	url = ../../Vanaheimr/Hermod.git
[submodule "libs/Styx"]
	path = libs/Styx
	url = ../../Vanaheimr/Styx.git
